<script>var io=null;</script>
<%
data.name='SHINOBI_'+data.ke+'_'+data.id;
if(config.ssl&&config.ssl.port&&data.protocol==='https'){
    data.port=config.ssl.port
}else{
    data.port=config.port
}
if(!data.port||data.port===''||data.port==80||data.port==443){data.url=baseUrl}else{data.url=baseUrl+':'+data.port}
if(data.addon.indexOf('relative')>-1){
    data.url=''
}
%>
<script src="<%=data.url%>/libs/js/socket.io.js"></script>
<script src="<%=data.url%>/libs/js/hls.min.js"></script>
<% if(data.addon){
    var ar={}
    decodeURI(data.addon).split('|').forEach(function(v){
        if(v.indexOf('=')>-1){
            v=v.split('=');
            ar[v[0]]=v[1];
        }
    })
    if(!ar.width){ar.width=640;}
    if(!ar.height){ar.height=480;}
    if(data.addon.indexOf('jquery')>-1){ %>
<script src="<%=data.url%>/libs/js/jquery.min.js"></script>
<% };
if(data.addon.indexOf('gui')>-1){ %>
<style>
    .shinobi_stream{position:relative;display:inline-block}
    .shinobi_hud{position:absolute;width:100%;height:100%;top:0;left:0;}
    .shinobi_hud .shinobi_viewers{position:absolute;top:5px;left:5px;opacity:0}
    .shinobi_hud:hover .shinobi_viewers{opacity:1}
    .shinobi_hud .shinobi_viewers{
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        border-radius: 10px;
        font-family: sans-serif;
    }
    iframe.stream-element{border:0;}
/*    Detector Events  */
    .shinobi_stream_objects{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
    .shinobi_stream_objects .tag{position:absolute;bottom:100%;left:0;background:red;color:#fff;font-family:monospace;font-size:80%;border-radius:5px 5px 0 0 ;padding:3px 5px;}
    .shinobi_stream_objects .stream-detected-object{position:absolute;top:0;left:0;border:3px solid red;background:transparent;border-radius:5px}
    .shinobi_stream_objects .point{position:absolute;top:0;left:0;border:3px solid red;border-radius:50%}
</style>
<% };
if(data.addon.indexOf('fullscreen')>-1){ %>
<style>
    body,html{overflow: hidden;}
    *{margin:0;padding:0;border:0}
    .stream-element,.shinobi_stream{position:absolute;top:0;left:0;}
</style>
<script>
$(window).resize(function(){
    $('.stream-element').attr('width',$('body').width())
    $('.stream-element').attr('height',$('body').height())
})
</script>
<% } %>
<% }else{
    //no addon set, do defaults
    var ar={};
    ar.width=640;
    ar.height=480;
} %>
<script>
$(document).ready(function(){
    $('#<%= data.name %> canvas').attr('width',<%=ar.width%>).attr('height',<%=ar.height%>)
})
</script>
<div class="shinobi_stream" id="<%= data.name %>">
    
    <% switch(mon.details.stream_type){
        case'jpeg':
            %><img class="stream-element"><%
        break;
        case'hls':
            %><video class="stream-element" autoplay></video><%
        break;
        case'mjpeg':
            %><iframe class="stream-element"></iframe><%
        break;
        default:
            %><canvas class="stream-element"></canvas><%
        break;
    } %>
    
    
<% if(data.addon&&data.addon.indexOf('gui')>-1){ %>
    <div class="shinobi_stream_objects"></div>
    <div class="shinobi_hud">
        <div class="shinobi_viewers" title="Current number of viewers"></div>
    </div>
<% } %>
</div>
<script>
    var SHINOBI_TIMER=setInterval(function(){
        if(io){
            clearInterval(SHINOBI_TIMER);delete(SHINOBI_TIMER);
            if(!$.shinobi){
                $.shinobi={}
            };
            if(!$.shinobi.mon){
                $.shinobi.mon={}
            };
            $.shinobi.drawMatrices=function(d){
                d.height=d.stream.height()
                d.width=d.stream.width()
                if($.shinobi.mon[d.id].details.detector_scale_x===''){$.shinobi.mon[d.id].details.detector_scale_x=320}
                if($.shinobi.mon[d.id].details.detector_scale_y===''){$.shinobi.mon[d.id].details.detector_scale_y=240}

                d.widthRatio=d.width/$.shinobi.mon[d.id].details.detector_scale_x
                d.heightRatio=d.height/$.shinobi.mon[d.id].details.detector_scale_y

                d.streamObjects.find('.stream-detected-object[name="'+d.details.name+'"]').remove()
                d.tmp=''
                $.each(d.details.matrices,function(n,v){
                    d.tmp+='<div class="stream-detected-object" name="'+d.details.name+'" style="height:'+(d.heightRatio*v.height)+'px;width:'+(d.widthRatio*v.width)+'px;top:'+(d.heightRatio*v.y)+'px;left:'+(d.widthRatio*v.x)+'px;">'
                    if(v.tag){d.tmp+='<span class="tag">'+v.tag+'</span>'}
                    d.tmp+='</div>'
                })
                d.streamObjects.append(d.tmp)
            }
            $.shinobi.init=function(d){
                  switch($.shinobi.mon[d.id].details.stream_type){
                    case'jpeg':
                        d.mon=$.shinobi.mon[d.id]
                        k=d.mon.details;
                        k.jpegInterval=parseFloat(k.jpegInterval);
                        if(!k.jpegInterval||k.jpegInterval===''||isNaN(k.jpegInterval)){k.jpegInterval=1}
                        if(!$.shinobi.mon[d.mon.mid].jpegInterval){
                            clearInterval($.shinobi.mon[d.mon.mid].jpegInterval);
                            $.shinobi.mon[d.mon.mid].jpegInterval=setInterval(function(){
                                $('#SHINOBI_'+d.ke+'_'+d.id+' .stream-element').attr('src','<%=data.url%>/<%=data.auth%>/jpeg/'+d.mon.ke+'/'+d.mon.mid+'/s.jpg?time='+(new Date()).getTime())
                            },1000/k.jpegInterval);
                        }
                    break;
                    case'hls':
                    var video = $('#SHINOBI_'+d.ke+'_'+d.id+' .stream-element')[0];
                    d.url='<%=data.url%>/<%=data.auth%>/hls/'+d.ke+'/'+d.id+'/s.m3u8';
                    if (navigator.userAgent.match(/(iPod|iPhone|iPad)/)||(navigator.userAgent.match(/(Safari)/)&&!navigator.userAgent.match('Chrome'))) {
                        video.src=d.url;
                        video.play();
                    }else{
                        var hls = new Hls();
                        hls.loadSource(d.url);
                        hls.attachMedia(video);
                        hls.on(Hls.Events.MANIFEST_PARSED,function() {
                          video.play();
                        });
                    }
                    break;
                    case'mjpeg':
                        $('#SHINOBI_'+d.ke+'_'+d.id+' .stream-element').attr('src','<%=data.url%>/<%=data.auth%>/mjpeg/'+d.ke+'/'+d.id+'/full')
                    break;
                }
            }
            $.shinobi.mon['<%=data.id%>']=<%- JSON.stringify(mon) %>;
            if(!$.shinobi.callback){$.shinobi.callback=function(){}}
            if(!$.shinobi.ws||$.shinobi.ws.connected===false){
                $.shinobi.ws=io('<%=data.url%>');
                $.shinobi.ws.on('f',function (d){
                if(d.viewers){
                    $('#SHINOBI_'+d.ke+'_'+d.id+' .shinobi_viewers').html(d.viewers);
                }
                switch(d.f){
                    case'detector_trigger':
                        d.e=$('#SHINOBI_'+d.ke+'_'+d.id)
                        if($.shinobi.mon[d.id]&&d.e.length>0){
                            if(d.details.plates&&d.details.plates.length>0){
                                console.log('licensePlateStream',d.id,d)
                            }
                            if(d.details.matrices&&d.details.matrices.length>0){
                                d.stream=d.e.find('.stream-element')
                                d.streamObjects=d.e.find('.shinobi_stream_objects')
                                $.shinobi.drawMatrices(d)
                                d.e.find('.stream-detected-count').text(d.streamObjects.find('.stream-detected-object').length)
                            }else{
                                d.e.find('.stream-detected-count').text(1)
                            }
                            if(d.details.confidence){
                                d.tt=d.details.confidence;
                                if (d.tt > 100) { d.tt = 100; }
                                d.e.find('.indifference .progress-bar').css('width',d.tt + "%").find('span').text(d.details.confidence)
                            }
                            if(d.details.emotion){
                                d.e.find('.stream-detected-emotion').text(d.details.emotion)
                            }
                            if(d.details.count){
                                d.e.find('.stream-detected-count-started').text(d.details.countStarted)
                                d.e.find('.stream-detected-count-hour').text(d.details.count.hour)
                                d.e.find('.stream-detected-count-minute').text(d.details.count.minute)
                                d.e.find('.stream-detected-count-day').text(d.details.count.day)
                                d.e.find('.stream-detected-count-week').text(d.details.count.week)
                                d.e.find('.stream-detected-count-month').text(d.details.count.month)
                            }
                            d.e.addClass('detector_triggered')
                            clearTimeout($.shinobi.mon[d.id].detector_trigger_timeout);
                            $.shinobi.mon[d.id].detector_trigger_timeout=setTimeout(function(){
                                $('#SHINOBI_'+d.ke+'_'+d.id).removeClass('detector_triggered').find('.stream-detected-object').remove()
                            },5000);
                        }
                    break;
                    case'monitor_frame':
                        var image = new Image();
                        var ctx = $('#SHINOBI_'+d.ke+'_'+d.id+' canvas')[0];
                        image.onload = function() {
                            ctx.getContext("2d").drawImage(image,0,0,ctx.width,ctx.height);
                            delete(d.frame);
                            delete(image);
                        };
                        image.src='data:image/jpeg;base64,'+d.frame
                    break;
                    case'monitor_watch_off':case'monitor_watch_on':
                        $('#SHINOBI_'+d.ke+'_'+d.id+' .shinobi_viewers').html(d.viewers)
                        $.shinobi.init(d)
                    break;
                    case'monitor_edit':
                        if(!d.id){d.id=d.mon.mid;}
                        if($.shinobi.mon[d.id]){
                            clearInterval($.shinobi.mon[d.id].jpegInterval);
                        }
                        d.e=$('#SHINOBI_'+d.ke+'_'+d.id+'');
                        d.e.find('.stream-element').remove();
                        d.tmp='';
                        switch(d.mon.details.stream_type){
                            case'hls':
                                d.tmp+='<video class="stream-element" controls autoplay></video>';
                            break;
                            case'mjpeg':
                                d.tmp+='<iframe class="stream-element"></iframe>';
                            break;
                            case'jpeg'://base64
                                d.tmp+='<img class="stream-element">';
                            break;
                            default://base64
                                d.tmp+='<canvas class="stream-element"></canvas>';
                            break;
                        }
                        d.e.append(d.tmp).find('.stream-element').resize();
                        $(window).resize();
                        d.mon.details=JSON.stringify(d.mon.details);
                        $.shinobi.mon[d.mon.mid]=d.mon;
                        $.shinobi.init(d.mon);
                    break;
                  }
                    $.shinobi.callback()
                });
            };
            $.shinobi.ws.emit('e',{f:'init',auth:'<%=data.auth%>',id:'<%=data.id%>',ke:'<%=data.ke%>'})
            $(window).resize();
        }
    },1000);
</script>